body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#moveOver {
margin-right: 50px;
}

.card {
  margin-bottom: 10px;
}

.card-body{
  padding: 8px 20px !important
}
.showAllMeds{
display: flex;
justify-content: space-between
}

.editDeleteButtons {
  display: flex;
  
  
}

.edit{
  margin-right: 8px;
}

.addNoteBtn{
  margin-top: 20px;
}

.logout{
  margin-right: 710px;
}

.match{
  margin-bottom: 2px
}

.admin{
  margin-top: 50px;
  text-align: center
}

.userBtn {
  display:flex;
  justify-content: center;
  margin-bottom: 40px
  
  
}

/* .procedureTab {
  background-color: blue;
  color: white
}
.medTab{
  background-color: orange;
  color:white
} */

.medCardBtn{
  display:flex;
  justify-content: center;
}

.procedureBtn{
  display:flex;
  justify-content: center
}

.userProfile{
  margin-right: 900px;
}

.adminTab{
  display:flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px
}

.adminUnit{
  display: flex;
  justify-content: left
}

.adminButton{
  display:flex;
  justify-content: center
}